.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #222;
}
p {
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  color: #777;
}
.desc {
  font-family: 'Droid Serif', serif;
  font-weight: 400;
  font-style: italic;
}
.logo {
  font-family: 'Damion', cursive;
  color: #fed136;
}
section,
div,
header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  justify-content: center;
}
.container {
  width: 970px;
  padding: 0 15px;
  flex-direction: column;
  text-align: center;
}
.rel {
  position: relative;
}
h2 {
  font-size: 40px;
  line-height: 30px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 19px;
}
h3 {
  font-size: 18px;
  line-height: 18px;
}
.titledesc {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 17px;
}
p {
  font-size: 14px;
  line-height: 22px;
}
a {
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}
header {
  position: absolute;
}
header nav {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin-top: 44px;
}
header nav .logo {
  font-size: 26px;
  line-height: 28px;
  height: 28px;
}
header nav ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
}
header nav ul li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
}
header nav ul li a {
  display: flex-item;
  padding: 0 15px;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
}
#home {
  flex-direction: column;
  text-align: center;
  align-items: center;
  background: url('../img/headerbg.jpg') no-repeat;
  background-position: top center;
  background-size: cover;
}
#home .desc {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 40px;
  line-height: 32px;
  color: #fff;
}
#home h1 {
  font-size: 75px;
  text-transform: uppercase;
  line-height: 55px;
  margin-top: 52px;
  margin-bottom: 59px;
  color: #fff;
}
#home a {
  width: 240px;
  line-height: 65px;
  background: #fed136;
  border-radius: 2px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
}
#services {
  padding-top: 120px;
  padding-bottom: 118px;
}
#services .services_items {
  justify-content: space-between;
  margin-top: 77px;
  flex-wrap: wrap;
}
#services .services_item {
  flex-direction: column;
  align-items: center;
  width: 290px;
}
#services .services_item .img_box {
  width: 72px;
  height: 72px;
  border: 3px solid #fed136;
  border-radius: 50%;
  align-items: center;
}
#services .services_item h3 {
  margin-top: 25px;
  margin-bottom: 12px;
}
#services .services_item p {
  margin: 0;
}
#portfolio {
  padding: 120px 0 70px;
  background: #f7f7f7;
}
#portfolio .portfolio_items {
  justify-content: space-between;
  margin-top: 76px;
  flex-wrap: wrap;
}
#portfolio .portfolio_item {
  width: 290px;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}
#portfolio .portfolio_item .text-block {
  flex-direction: column;
  background: #fff;
}
#portfolio .portfolio_item h3 {
  margin-top: 29px;
  margin-bottom: 4px;
}
#portfolio .portfolio_item .desc {
  margin-top: 0;
  margin-bottom: 27px;
  line-height: 15px;
}
#about {
  padding: 120px 0;
}
#about .about_items {
  flex-direction: column;
  align-items: center;
  margin-top: 84px;
}
#about .about_items .about_item {
  align-items: flex-start;
  justify-content: space-around;
}
#about .about_items .about_item .text-block {
  flex-direction: column;
}
#about .about_items .about_item.odd {
  text-align: right;
}
#about .about_items .about_item.even {
  text-align: left;
  flex-direction: row-reverse;
}
#about .about_items p {
  margin: 0;
}
#about .about_items .date {
  font-family: 'Montserrat', sans-serif;
  color: #222;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
}
#about .about_items h3 {
  margin-top: 7px;
  margin-bottom: 14px;
}
#about .about_items .image {
  flex-direction: column;
  align-items: center;
}
#about .about_items img,
#about .about_items .about_more {
  border: 7px solid #f1f1f1;
  border-radius: 50%;
}
#about .about_items .connector {
  width: 2px;
  height: 93px;
  background-color: #f1f1f1;
}
#about .about_items .about_more {
  width: 182px;
  height: 182px;
  box-sizing: border-box;
  background: #fed136;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.7);
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}
